.section {
  display: flex;
  align-items: center;
  height: 240px;
  justify-content: flex-start;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 650px;
  border-radius: 8px;
  background-color: rgba(65, 190, 161, 0.521);
  border: 3px solid #59c0aa;
  color: white;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16pt;
  transition: border-color 0.3s;
}

.section:hover {
  border-color: #94dfcf;
}

img {
  width: 80px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 30px;
  opacity: 100%;
  z-index: 2;
}

.text {
  padding: 10px;
  padding-left: 20px;
  margin-left: 10px;
  margin-bottom: 130px;
  border-radius: 8px;
  border: 3px solid #59c0aa;
  background-color: #59c0aa;
  white-space: normal;
  overflow: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  height: calc(50%);
  width: calc(90%);
  transition: opacity 0.3s;
}

.text:hover {
  opacity: 80%;
}

.static {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-right: 0px;
  margin-bottom: 140px;
  border: 3px solid #59c0aa;
  background-image: repeating-radial-gradient(circle at 17% 32%, rgba(65, 190, 161, 0.521), rgba(43, 146, 124, 0.466) 0.00085px);
  animation: static 5s linear infinite;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  transition: opacity 0.3s;
}

.static:hover {
  opacity: 80%;
}

@keyframes static {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 240px 240px;
  }
}

@media (max-width: 720px) {
  .section {
    padding: 10px;
    padding-right: 20px;
    margin-top: 10px;
    height: 160px;
    gap: 20px;
    width: 364px;
    font-size: 16px;
  }

  img {
    margin-left: 16px;
    margin-top: 15px;
    padding-left: -20px;
    padding-right: -20px;
    width: 70px;
  }

  .text {
    margin-top: 140px;
    height: 120px;
    width: 360px;
    padding-right: -20px;
    padding-left: -20px;
    padding: 10px;
  }

  .static {
    margin: auto;
    margin-left: 15px;
    width: 100px;
    height: 100px;
  }
}

