  form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(65, 190, 161, 0.521);
    border: 3px solid #59c0aa;
    outline: none;
    max-width: 400px; /* Optional: Limit the width of the text input */
    width: 120%;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }

  input:hover {
    background-color: rgba(65, 190, 161, 0.281);
    border-color:#94dfcf;
  }

  input:focus {
    color: white;
  }

  button {
    height: 50px;
    color: white;
    cursor: pointer;
    background-color: rgba(65, 190, 161, 0.521);
    border-radius: 8px;
    border: 3px solid #59c0aa;
    padding-right: 13px;
    padding-left: 10px;
    font-size: 20px;
    transition: background-color 0.3s, border-color 0.3s;
  }

  button:hover {
    background-color: rgba(65, 190, 161, 0.308);
    border-color: #59c0aa;
  }