@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap");

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#202020;
}

#root {
  width: 100vw;
  height: 100vh;
}
